@model Hospital.Web.Areas.Admin.Dtos.ContactDto

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4 mx-auto">

        <h3 class="alert alert-info text-center justify-content-center d-flex">Contact</h3>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <select asp-items="ViewBag.hospitals" class="form-select" asp-for="HospitalId">
                </select>
                <span asp-validation-for="HospitalId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 d-flex">
                <div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div style="flex:1 1 auto"></div>
                <div>
                    <a class="btn btn-dark" asp-action="Index">Back to List</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
